body, html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #fff;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
       //cursor: url('../data/images/menu/cursor.png'), pointer;
}



#action{

    background: #242a4a; /* Old browsers */
    background: -moz-linear-gradient(top,  #242a4a 0%, #201610 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#242a4a), color-stop(100%,#201610)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #242a4a 0%,#201610 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #242a4a 0%,#201610 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #242a4a 0%,#201610 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #242a4a 0%,#201610 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242a4a', endColorstr='#201610',GradientType=0 ); /* IE6-9 */

}




#splashScreen #loadIcon {
    width: 160px;
    height: 160px;
    background: url(http://www.ciaranmccann.me/college/fyp/data/images/cdrom.png);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -80px;
    margin-top: -80px;
    -webkit-animation: wink 2.8s steps(25, end);
    -moz-animation: wink 2.8s steps(25, end);
    -o-animation: wink 2.8s steps(25, end);
    animation: wink 2.8s steps(25, end);
}


@-webkit-keyframes wink {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px -4000px;
    }
}

@-moz-keyframes wink {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px -4000px;
    }
}

@keyframes wink {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px -4000px;
    }
}

#startMenu {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -360px;
    margin-top: -280px;
    width: 600px;
    height: 450px;
    z-index: 1;
 
}


.btn-large {
    margin-left: 10px;
    margin-right: 10px;
}


.thumbnail{

     padding: 17px;
}

.thumbnails {
    margin-left: auto;
    list-style: none;
   
}

#weaponsMenu {
    position: absolute;
    left: 100%;
    top: 100%;
    width: 275px;
    height: 350px;
    margin-top: -350px;
    z-index: 9999999;
    background: black;
    border: 1px white solid;
    padding: 10px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    cursor: default;
}

#weaponsMenuBtn{
-webkit-transform: rotate(90deg);	
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);

	 position: absolute;
    left: -42.5%;
    top: 20%;
	padding:20px;
	font-style:bold;
    background: black;
    color:white;
    border: white 1px solid;
    border-radius: 3px;
    z-index:1;
    font-size: 20px;
    border-top:none;
}

    #weaponsMenuBtn:hover {
        color: #08c;
    }

    #weaponsMenu .thumbnail:active {
        -ms-transform: scale(0.7,0.7); /* IE 9 */
        -webkit-transform: scale(0.7,0.7); /* Safari and Chrome */
        -o-transform: scale(0.7,0.7); /* Opera */
        -moz-transform: scale(0.7,0.7);
        transform: scale(0.7,0.7); /* Firefox */
        cursor: default;
    }

    #weaponsMenu .noAmmo {
        -moz-opacity: 0.4;
        opacity: 0.4;
    }

a.noAmmo:hover {
    border-color: none;
}


.span1 {
    width: auto;
}

a.thumbnail.ammo {
    background: black;
}

.ammoCount {
    position: absolute;
    font-size: 11.5px;
    margin-left: 26px;
    margin-top: -7px;
    font-weight: bold;
    color: white;
}

#turnTimeCounter {
    background: black;
    border: white 1px solid;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 100%;
    margin-top: -78px;
    margin-left: 10px;
    color: white;
    font-size: 40px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    border-radius: 3px;
    z-index:1;
}

kbd {
    white-space: nowrap;
    color: black;
    background: #EEE;
    border-style: solid;
    border-color: #CCC #AAA #888 #BBB;
    padding: 2px 4px;
    border-width: 1px 3px 3px 1px;
}

.healthMenu {
    position: absolute;
    left: 50%;
    bottom: 1%;
    width: 150px;
    z-index: 1;
    margin-left: -200px;
}

    .healthMenu li {
        list-style: none;
        padding: 5px;
    }

        .healthMenu li span {
            margin-left: 10px;
            margin-right: 10px;
            background: black;
            color: white;
            font-size: 14px;
            padding: 5px;
            border-radius: 3px;
            border: 1px white solid;
        }



    .healthMenu span.health {
        position: absolute;
        height: 15px;
    }


.modal-body h1 {
    font-size: 18.5px;
    line-height: normal;
}


.touchButton {
position: absolute;
left: 100%;
top: 100%;
width: 80px;
height: 50px;
margin-top: -78px;
margin-left: -100px;
z-index: 1;
background: black;
border: 1px white solid;
padding: 10px;
padding-left: 2px;
padding-right: 2px;
border-radius: 3px;
cursor: default;
color: white;
font-size: 30px;
        display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

#touchJump{
    margin-left: -200px;
}

#touchFire{
    margin-left: -100px;
}

